<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootrap 5.3    -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--Css-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!--Jquery-->
    <script src="/jquery/jquery.min.js"></script>

</head>
<body>
{{{body}}}
</body>
</html>
